{% include 'django/forms/widgets/textarea.html' %}
{{ options | json_script:options_id }}
<script nonce="{{ csp_nonce }}" type="text/javascript">
    if (typeof(window.markdownFieldWrapper) === 'undefined') {
        window.markdownFieldWrapper = {}; // wrapping allows us to have widgets with names that are invalid js identifiers (like admin inlines)
    }
    window.markdownFieldWrapper['{{ widget.name }}_options'] = JSON.parse(document.getElementById('{{ options_id }}').textContent);
    window.markdownFieldWrapper['{{ widget.name }}_editor'] = new EasyMDE(Object.assign({
        element: document.getElementById('{{ widget.attrs.id }}'),
        hideIcons: ["side-by-side", "preview"],
        spellChecker: false,
        parsingConfig: {
            allowAtxHeaderWithoutSpace: true,
        }
    }, window.markdownFieldWrapper['{{ widget.name }}_options']));
</script>
